.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.go-back {
  color: #009e60;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #009e60;
  padding: 8px;
}

.success {
  color: #009e60;
  font-size: 30px;
  text-align: center;
}
