@media only screen and (max-width: 768px) {
  .error {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    margin-top: 16px;
    padding: 36px;
  }
}

.error {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  margin-top: 16px;
  padding: 36px;
}

.error-msg {
  width: 100%;
  text-align: center;
  color: red;
}

.home-link {
  cursor: pointer;
  padding: 8px;
  color: #4169e1;
}
